doctype html
html
    head
        title Main
        link(rel='stylesheet', type='text/css', href='/css/basic.css')
        link(rel='stylesheet', type='text/css', href='/css/auth/submit-container.css')
    body
        #navbar
            button(onclick="location.href='/main'") MAIN
            button(onclick="location.href='/products'") PRODUCTS
            button(onclick="location.href='/profile'") PROFILE
        .auth-container
            .auth-box
                form(action = "/auth/signup" method = "POST")
                    label  Create your account
                    .inputs
                        input(name = "name"  type="text", required placeholder="Name")
                        input(name = "password"  type="password", required placeholder="Password")
                    .buttons
                        button#submit-button(type="Submit") Sign up
                a(href="/auth/login", class="redirect-link") Log in
                if msg
                    p.error-message= msg