doctype html
html
    head
        title Profile
        link(rel='stylesheet', type='text/css', href='/css/basic.css')
        link(rel='stylesheet', type='text/css', href='/css/profile/info-container.css')
    body
        #navbar
            button(onclick="location.href='/main'") MAIN
            button(onclick="location.href='/products'") PRODUCTS
            button(onclick="location.href='/profile'") PROFILE
        .info-container
            .info-box
                .labels
                    h3 Account info
                    label Name: #{name}
                    label Items: #{items}
                .buttons
                    button#submit-button(onclick="location.href='/auth/logout'") Log out
            .info-box 
                .inputs
                    input(name = "name"  type="text", required placeholder="Name")
                    input(name = "description"  type="text", required placeholder="Description")
                    input(name = "price"  type="text", required placeholder="Price")
                .buttons
                    button#submit-button(onclick="location.href='/auth/logout'") Create item