doctype html
html
    head
        title Main
        link(rel='stylesheet', type='text/css', href='/css/styles.css')
    body
        #navbar
            button(onclick="location.href='/'") MAIN
            button(onclick="location.href='/products'") PRODUCTS
            button(onclick="location.href='/profile'") PROFILE
        h1 Main
