doctype html
html
    head
        title Products
        link(rel='stylesheet', type='text/css', href='/css/basic.css')
        link(rel='stylesheet', type='text/css', href='/css/products.search-form.css')
        link(rel='stylesheet', type='text/css', href='/css/products.products-container.css')
    body
        #navbar
            button(onclick="location.href='/'") MAIN
            button(onclick="location.href='/products'") PRODUCTS
            button(onclick="location.href='/profile'") PROFILE
        form#search-form
            label(for="search-input") Search:
            input#search-input(type="text", placeholder="Find by name")
            button#search-button(type="button", onclick="clickFind()") Find
        #product-container
            each product in products
                .product
                    h2= product.name
                    p= product.description
    script.
        function clickFind() {
            const name = document.getElementById('search-input').value;
            location.href = `/products/find?name=${name}`;
        }