.search-bar {
    text-align: center;
    margin: 20px auto;
    width: 70%;
}

label {/*?*/
    font-weight: bold;
}

.sort-select,
.owner-select,
.name-input {
    margin: 5px 2px;
    padding: 10px;
    display: inline-block; 

    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}

.search-button {
    flex: 1;
    margin: 5px 2px;
    padding: 10px;
    
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;

    background-color: #008CBA;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #004d67;
}